papers/
outputs/*
reports/
*.png
*.bin
notes/
*.ipynb
.DS_Store*
*.DS_Store
.vccode/
experiments/.DS_Store
silly/
global_data/
density_plots/*
output_clean_streams_helio_3_kpc/
output_heliocentric_profile_5_kpc/
output_heliocentric_images_gifs/
output_heliocentric_profile/*
stream_matches/*
output_stream_to_cluster/*
experiments/orbital_intersections/the_orbits/backward/*
experiments/orbital_intersections/the_orbits/forward/*
experiments/i_plots_di_paola